body {
    font-family: 'Open Sans', sans-serif;
    background: #fbfbfb;
}
<!--Top header-->
.top-header{
    background-color: #171C26;
}

.top-header .list-inline {
    padding: 10px 0;
}

.top-header .list-inline a {
    text-decoration: none;
    color: #949494;
    margin-right: 15px;
    font-size: 12px;
}

.top-header .list-inline a i {
    margin-right: 5px;
}

.top-header ul {
    margin: 5px 0;
    padding: 0;
}

.top-header .social-list li {
    margin: 0 5px;
}

.top-header .social-list li a {
    display: inline-block;
}

.top-header .social-list li {
    list-style: none;
    margin: 0 5px;
    display: inline-block;
    line-height: 30px;
}


.top-header .social-list li a{
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.top-header .sign-in {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
<!--End top header-->

<!--Main header-->
.main-header {
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

a:focus {
    outline: none;
}

.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.main-header .navbar-default .nav > li > a {
    position: relative;
    display: block;
    padding: 30px 18px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5a5959;
}

.main-header .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.logo{
    padding: 20px 0;
    margin-right: 50px;
    float: left;
}

.logo img{
    height: 40px;
}

.navbar-right {
    margin: 0;
}



<!--End main header-->



.banner {
    position: relative;
}

.banner .item {
    text-align: center;
}

.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.main-title p {
	font-size: 17px;
	line-height: 25px;
}

.main-title {
	margin-bottom: 30px;
}

.main-title h1 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

/*car box*/
.car-box {
    padding: 0;
    margin: 0 0 30px 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.car-box-thumbnail {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.listing-price {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #FFF;
    padding: 6px 20px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.9s ease-in-out;
}

.listing-price span {
    font-size: 12px;
    font-weight: 600;
}
.listing-price .del {
    font-size: 11px;
}
.carbox-overlap-wrapper {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    text-align: center;
    color: #FFF;
    padding: 60px 25px 25px;
    left: 0;
    top: 0;
}


.car-box img {
    width: 100%;
}

.car-list-box .detail {
    padding: 15px 20px 0;
    color: #5a5959;
}

.car-list-box .detail header {
    padding-bottom: 6px;
    margin-bottom: 11px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}


.car-list-box .detail p {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 24px;
}
.car-box .detail header h5 {
    margin: 0 0 5px;
    border: none;
    padding: 0;
}

.car-box .detail header h5 a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

.car-box .detail header h5 a:hover {
    color: #5a5959;
}

.car-box .detail header .custom-list {
    padding: 0;
    margin: 0;
}

.car-box .detail header .custom-list li {
    font-size: 10px;
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.car-box .detail header .custom-list li a {
    text-decoration: none;
    color: #5a5959;
}
.car-box .detail .facilities-list {
    padding: 0;
    margin: 0;
}

.car-box .detail .facilities-list li {
    list-style: none;
    width: 33%;
    float: left;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 15px;
}

.car-box .detail .facilities-list li i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 500;
}
.car-box:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}


.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #999;
    background: transparent;
    outline: none !important;
}

@media (max-width: 990px) {
    .sub-footer {
        padding: 15px;
    }

    .features-item img {
        height: auto;
    }

    .car-list-box-2 .detail {
        padding: 20px 20px;
    }

    .car-list-box-2 .detail header h3 a {
        font-size: 20px;
    }

    .hidden-mb-30{
        margin-bottom: 30px;
    }

    .sub-footer .social-list {
        text-align: center;
        margin-top: 20px;
    }

    .sub-footer .logo-2 {
        padding: 0 10px 15px;
    }

    .sub-footer form {
        margin: 0 auto 0;
    }

    .sub-footer .social-list {
        margin: 10px 0 0;
        float: none;
    }

    .blog-box .detail {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .main-header .navbar-default .nav > li > a {
        padding: 10px 15px !important;
        width: 100%;
    }

    .blog-box .detail {
        padding: 20px;
    }

    .we-best-bg-pic .content {
        margin-bottom: 30px;
    }

    .testimonials-3 h1 {
        font-size: 24px;
        margin: 0 0 30px;
    }

    .testimonials-3{
        text-align: center;
    }

    .testimonials-3{
        padding: 50px 0 75px;
    }

    .testimonials-3 .content .avatar {
        max-width: 130px;
        margin: 0 auto 30px;
        padding: 7px;
    }

    .testimonials-2{
        text-align: center;
    }

    .testimonials-2 .content .text {
        font-size: 18px;
    }

    .testimonials-2 .sec-title-three .text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .testimonials-2 .sec-title-three h2 {
        font-size: 24px;
    }

    .testimonials-2 .content .avatar {
        max-width: 180px;
    }

    .testimonials-1 h1 {
        font-size: 27px;
        margin: 0 0 20px;
    }

    .testimonials-1 p {
        font-size: 18px;
        line-height: 31px;
    }

    .t-slider-l i{
        line-height: 28px;
    }

    .t-slider-r i{
        line-height: 28px;
    }


    .comments ul {
        margin: 0;
    }

    .comment {
        margin: 0 0 40px 0;
    }

    .hidden-mb-30{
        margin-bottom: 30px;
    }

    .hidden2-mb-30{
        margin-bottom: 30px;
    }

    .main-header  .navbar-nav {
        margin: 0;
    }

    .sub-footer .logo-2 {
        width: 100%;
        text-align: center;
        padding: 0 20px 10px;
    }

    .recent-car .media .media-left {
        padding-right: 10px;
    }

    .header-contact ul li {
        padding-left: 25px;
        margin-left: 10px;
    }

    .mb-70 {
        margin-bottom: 40px;
    }

    .mb-40{
        margin-bottom: 20px;
    }

    .testimonial-section-3 {
        padding: 50px 0 65px!important;
    }

    .logo {
        padding: 10px 0 10px;
    }

    .about-text h3 {
        font-size: 20px;
    }

    .header-contact ul li .icon {
        margin-left: -25px;
    }

    .header-contact ul li i {
        font-size: 20px;
    }

    .logo-2 img {
        height: 40px;
    }

    .we-best-bg-pic {
        padding: 70px 0;
    }

    .service-center iframe,
    .modal-body iframe .element.style {
        height: 200px !important;
    }

    .typography-page .mb-40 {
        margin-bottom: 20px;
    }

    .headline {
        margin: 0 0 20px 0;
    }

    .pad-div .sidebar-widget {
        padding: 20px !important;
    }

    .featured-car-slider .details h3 {
        font-size: 17px;
    }

    .breadcrumb-area h2 {
        font-size: 25px;
    }

    .banner .item {
        text-align: left;
    }

    .banner .banner-slider-inner h1 {
        margin: 0 0 10px;
        font-size: 27px;
    }

    .blog-share {
        float: left;
        text-align: left;
        margin-top: 30px;
    }

    blockquote {
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 14px;
        line-height: 22px;
        color: #5a5959;
        border-left: 5px solid #eeeeee;
        font-weight: 400 !important;
    }

    .banner .banner-slider-inner h1 span {
        font-weight: 300;
    }

    .banner .btn {
        padding: 9px 16px;
        font-size: 12px;
    }

    .banner .btn-default {
        padding: 7px 16px;
        font-size: 12px;
    }

    .banner-slider-inner p {
        font-size: 14px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        line-height: 23px;
    }

    .banner-3 .banner-box{
        background: none;
        padding: 0 5px;
    }

    .contact-us-body {
        padding: 25px 0;
    }

    .main-title p {
        font-size: 17px;
        line-height: 25px;
    }

    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .car-our-service .media .media-body p {
        line-height: 20px;
        text-align: justify;
    }

    .features-item {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .content-area {
        padding: 70px 0 40px;
    }

    .content-area-2 {
        padding: 70px 0;
    }

    .content-area-3 {
        padding-bottom: 70px;
    }

    .content-area-4 {
        padding-bottom: 40px;
    }

    .content-area-5{
        padding: 70px 0 40px;
    }

    .content-area-6 {
        padding: 70px 0 70px;
    }

    .content-area-7 {
        padding-bottom: 40px;
    }

    .content-area-8 {
        padding-bottom: 50px;
    }

    .our-serivce-2 .media{
        margin-bottom: 30px;
    }

    .testimonials-1{
        padding: 70px 0 95px;
    }

    .testimonials-2{
        padding: 70px 0 95px;
    }

    .testimonials-3{
        padding: 70px 0 95px;
    }

    .latest-offers {
        padding: 70px 0 54px;
    }

    .latest-offers-2 {
        margin-bottom: 54px;
    }

    .mrg-buttom-70 {
        margin-bottom: 50px;
    }

    .mrg-buttom-40 {
        margin-bottom: 20px;
    }

    .car-details-body .about-car p {
        line-height: 22px;
        text-align: justify;
    }

    .inside-car .inside-car {
        height: auto;
    }

    .comments-thread li ul li {
        padding-left: 0;
    }

    .comments-thread li {
        padding-left: 55px;
    }

    .about-item .text p {
        text-align: justify;
        line-height: 20px;
    }

    .blog-box .detail p {
        font-size: 13px;
        line-height: 22px;
        text-align: justify;
    }

    .recent-comments .media .media-body p {
        line-height: 20px;
        text-align: justify;
    }

    .blog-banner h2 {
        font-size: 20px;
    }

    blockquote {
        padding: 7px 20px;
        margin: 30px 0 30px 20px;
        text-align: justify;
    }

    .shopping-cart-body {
        padding: 50px 0;
    }

    .shop-cart {
        padding: 50px 0;
    }

    .order-review {
        padding: 15px 15px;
    }

    .error404-content h1 {
        font-size: 120px;
    }

    .error404-content h2 {
        font-size: 24px;
    }

    .form-content-box .Details {
        padding: 30px 15px 20px;
    }

    .form-content-box .header {
        padding: 15px;
    }

    .slider-mover-left {
        width: 30px;
        height: 30px;
        left: 5px;
    }

    .slider-mover-left i{
        font-size: 22px;
        line-height: 30px;
    }

    .slider-mover-right {
        width: 30px;
        height: 30px;
        right: 5px;
    }

    .slider-mover-right i{
        font-size: 22px;
        line-height: 30px;
    }

    .thumb-preview {
        height: auto;
    }

    .logo, .logo:hover {
        font-size: 22px;
    }

    .blog-box {
        margin-bottom: 30px;
    }

    .btn-details {
        padding: 5px 16px;
        font-size: 12px;
        font-weight: 400;
    }

    .car-box .detail header h5 a {
        font-size: 15px;
    }

    .car-list-box .detail header h3 a {
        font-size: 15px;
    }

    .car-list-box .detail header .price {
        font-size: 15px;
    }

    .invoice-body {
        padding: 50px 0;
    }

    .featured-car-slider .details .price {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .featured-car-slider .details ul {
        margin-bottom: 10px;
    }

    .featured-car-slider .details h4 {
        margin: 0 0 10px;
    }

    .car-list-box .detail .facilities-list li {
        width: 50%;
    }

    .car-box .detail .facilities-list li {
        width: 50%;
    }

    .sub-footer form {
        background: transparent;
    }

    .blog-box .detail h1 {
        font-size: 16px;
    }

    .banner .banner-slider-inner {
        padding: 100px 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .comment .comment-content {
        margin-left: 80px;
    }
}

@media (max-width: 525px) {
    .banner .banner-slider-inner {
        padding: 50px 25px !important
    }

    .banner .btn {
        margin-bottom: 5px;
    }

}

@media (max-width: 450px) {
    .amenities .amenities-box {
        width: 100%;
    }
}

@media all and (min-width: 768px) {

    .main-header .navbar-default .nav > li:hover > .dropdown-menu {
        display: block;
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s
    }

    .main-header .navbar-default .nav > li > .dropdown-menu li:hover > .dropdown-menu {
        display: block;
    }

    .our-partners .carousel-inner > .active.left,
    .our-partners .carousel-inner > .prev {
        left: -50%;
    }

    .our-partners .carousel-inner > .active.right,
    .our-partners .carousel-inner > .next {
        left: 50%;
    }

    .our-partners .carousel-inner > .left,
    .our-partners .carousel-inner > .prev.right,
    .our-partners .carousel-inner > .active {
        left: 0;
    }

    .our-partners .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .our-partners .carousel-inner > .item.active.right,
    .our-partners .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .our-partners .carousel-inner > .item.active.left,
    .our-partners .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

    .our-partners .carousel-inner > .item.left,
    .our-partners .carousel-inner > .item.prev.right,
    .our-partners .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width: 992px) {
    .our-partners .carousel-inner > .active.left,
    .our-partners .carousel-inner > .prev {
        left: -25%;
    }

    .our-partners .carousel-inner > .active.right,
    .our-partners .carousel-inner > .next {
        left: 25%;
    }

    .our-partners .carousel-inner > .left,
    .our-partners .carousel-inner > .prev.right,
    .our-partners .carousel-inner > .active {
        left: 0;
    }

    .our-partners .carousel-inner .cloneditem-2,
    .our-partners .carousel-inner .cloneditem-3 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .our-partners .carousel-inner > .item.active.right,
    .our-partners .carousel-inner > .item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
    }

    .our-partners .carousel-inner > .item.active.left,
    .our-partners .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }

    .our-partners .carousel-inner > .item.left,
    .our-partners .carousel-inner > .item.prev.right,
    .our-partners .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

/** Option Panel **/
.option-panel {
    z-index: 9999;
    width: 215px;
    position: fixed;
    right: 0;
    background: #fff;
    border: 1px solid #DDD;
    top: 20%;
    padding: 20px 15px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.option-panel-collased {
    right: -215px;
}

.option-panel h2 {
    font-size: 10px;
    margin: 0 0 0 0;
    text-align: center;
    color: #555;
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.option-panel .color-plate {
    width: 24px;
    height: 24px;
    float: left;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.default-plate {
    background: #ffb400;
}

.blue-plate {
    background: #376bff;
}

.orange-plate {
    background: #f24b0a;
}

.blue-light-plate {
    background: #0088CC;
}

.green-light-plate {
    background: #1abc9c;
}

.green-plate {
    background: #7dba21;
}

.yellow-light-plate {
    background: #eae328;
}

.green-light-2-plate {
    background: #0dcdbd;
}

.olive-plate {
    background: #b3c211;
}

.purple-plate {
    background: #8e44ad;
}

.midnight-blue-plate {
    background: #2c3e50;
}

.red-plate {
    background: #d20023;
}

.setting-button {
    background: #eee;
    position: absolute;
    font-size: 16px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 48px;
    left: -50px;
    color: #2b303b;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}