

body {
    font-family: 'Open Sans', sans-serif;
    background: #fbfbfb;
}

/** TOP HEADER AREA START **/
.top-header{
    background-color: #171C26;
}

.top-header .list-inline {
    padding: 10px 0;
}

.top-header .list-inline a {
    text-decoration: none;
    color: #949494;
    margin-right: 15px;
    font-size: 12px;
}

.top-header .list-inline a i {
    margin-right: 5px;
}

.top-header ul {
    margin: 5px 0;
    padding: 0;
}

.top-header .social-list li {
    margin: 0 5px;
}

.top-header .social-list li a {
    display: inline-block;
}

.top-header .social-list li {
    list-style: none;
    margin: 0 5px;
    display: inline-block;
    line-height: 30px;
}


.top-header .social-list li a{
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.top-header .sign-in {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

/** MAIN HEADER AREA START **/
.main-header {
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

a:focus {
    outline: none;
}

.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.main-header .navbar-default .nav > li > a {
    position: relative;
    display: block;
    padding: 30px 18px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5a5959;
}

.main-header .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.logo{
    padding: 20px 0;
    margin-right: 50px;
    float: left;
}

.logo img{
    height: 40px;
}

.navbar-right {
    margin: 0;
}


/*=============*/
.dropdown-menu > li > a {
    display: block;
    padding: 12px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #5a5959;
    font-size: 13px;
    white-space: nowrap;
    border-left: solid 5px transparent;
    background: #fbfbfb;
    cursor: pointer !important;
    outline: none;
}

.dropdown-menu > li:last-child > a {
    border-bottom: none;
}



.navbar-nav .dropdown-menu {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    margin-top: 10px;
    min-width: 200px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}


/** BANNER AREA START **/
.banner {
    position: relative;
}

.banner .item {
    text-align: center;
}



.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.slider-mover-left {
    width: 40px;
    height: 40px;
    line-height: 32px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    left: 5px;
    background: #685d57;
}

.slider-mover-left i{
    font-size: 30px;
    line-height: 40px;
    color: #000;
}

.slider-mover-right {
    width: 40px;
    height: 40px;
    line-height: 32px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    right: 5px;
    background: #685d57;
}

.slider-mover-right i{
    font-size: 30px;
    line-height: 40px;
    color: #000;
}

.banner .banner-slider-inner {
    color: #e9e9e9;
    margin: 0 auto;
    padding: 50px 0;
    margin-top: 100px;
    margin-bottom: 120px;
    font-family: 'Roboto', sans-serif;
}

.banner .banner-slider-inner h1 {
    color: #FFF;
    z-index: 5;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.banner .banner-slider-inner h1 span {
    letter-spacing: 2px;
    font-weight: 100;
}

.banner-slider-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 30px;
    letter-spacing: 1px;
}

.btn-view {
    padding: 14px 26px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
    border: none;
    border-radius: 2px;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-view:hover {
    color: #fff;
}

.banner .btn-default {
    padding: 12px 24px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
    border-radius: 2px;
    background: none;
}

.banner .btn-default:hover {
    color: #fff;
}

.banner-2 .banner-slider-inner h1 span {
    font-weight: 700;
    color: #000;
}

.font-white:hover {
    color: #fff;
}

.banner-2 .banner-slider-inner h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    text-shadow: none;
}

.banner-3 .banner-slider-inner h1 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 0;
}

.banner-3 .banner-box {
    padding: 20px;
    background: rgba(0, 0, 0, 0.498039);
}

.banner .banner-slider-inner-2 {
    padding: 70px 20px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #e9e9e9;
}

.banner .banner-slider-inner-2 h1 {
    letter-spacing: 0;
    margin: 0 0 25px;
    font-size: 70px;
    font-weight: 400;
    color: #FFF;
}

.banner .banner-slider-inner-2 h1 span {
    letter-spacing: 2px;
    font-weight: 100;
}

.banner-slider-inner-2 p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/** MAIN TITLE BOX AREA START **/
.main-title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.main-title h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #333;
    font-weight: 700;
}

.main-title p {
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    color: #808080;
}

/** CAR BOX AREA START **/
.car-box {
    padding: 0;
    margin: 0 0 30px 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.car-box-thumbnail {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.car-box img {
    width: 100%;
}

.is-featured {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 6px 10px 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.9s ease-in-out;
}

.listing-for {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    transition: all 0.9s ease-in-out;
}

.listing-for .for {
    background: #2d2d2d;
    padding: 6px 10px 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 10px;
}

.listing-price {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #FFF;
    padding: 6px 20px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.9s ease-in-out;
}

.listing-price span {
    font-size: 12px;
    font-weight: 600;
}

.listing-price .del {
    font-size: 11px;
}

.feadured-ribbon {
    position: absolute;
}

.content-area {
    padding: 100px 0 70px;
}


.car-box:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.car-box .detail {
    padding: 20px 20px 5px;
    background: #fff;
    color: #5a5959;
    width: 100%;
    float: left;
    position: relative;
}

.car-box .detail header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.car-box .detail p {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 20px;
}

.car-box .detail header h5 {
    margin: 0 0 5px;
    border: none;
    padding: 0;
}

.car-box .detail header h5 a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

.car-box .detail header h5 a:hover {
    color: #5a5959;
}

.car-box .detail header .custom-list {
    padding: 0;
    margin: 0;
}

.car-box .detail header .custom-list li {
    font-size: 10px;
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.car-box .detail header .custom-list li a {
    text-decoration: none;
    color: #5a5959;
}

.car-box .detail .facilities-list {
    padding: 0;
    margin: 0;
}

.car-box .detail .facilities-list li {
    list-style: none;
    width: 33%;
    float: left;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 15px;
}

.car-box .detail .facilities-list li i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 500;
}

.btn-details {
    padding: 6px 20px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
    border-radius: 2px;
}

.btn-details:hover {
    color: #fff;
}

.car-box-thumbnail:hover .is-featured,
.car-box-thumbnail:hover .listing-for,
.car-box-thumbnail:hover .listing-price
{

}

.carbox-overlap-wrapper {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    text-align: center;
    color: #FFF;
    padding: 60px 25px 25px;
    left: 0;
    top: 0;
}

.car-list-box-2 .carbox-overlap-wrapper {
    padding: 130px 25px 25px;
}

.car-box-thumbnail:hover .carbox-overlap-wrapper {
    visibility: visible;
    top: 0;
    cursor: pointer;
    transition: visibility 2s ease-out;
}

.overlap-btn {
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    color: #FFF;
    margin: 16px auto;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
}

.overlap-btn:hover {
    text-decoration: none;
    color: #FFF;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.carbox-overlap-wrapper h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
}

.carbox-overlap-wrapper h4 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}

.modal-content {
    border-radius: 2px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.modal .slider-mover-left,
.modal .slider-mover-right {
    border: none !important;
}

.img-responsive {
    width: 100%;
}

/** FOOTER AREA START **/
footer {
    width: 100%;
    background: #111;
    color: #7c7e83;
    padding-bottom: 20px;
}

.logo-2 img{
    height: 40px;
}

.sub-footer {
    background: rgba(255, 255, 255, 0.03);
    margin-bottom: 80px;
    width: 100%;
    float: left;
}


.sub-footer .logo-2 {
    width: 100%;
    padding: 30px 30px 23px;
}

.sub-footer .logo a {
    text-decoration: none;
    color: #fff;
}

.social-list a {
    text-align: center;
    display: inline-block;
    color: #949494;
}

.sub-footer .social-list {
    margin: 27px 15px 0 0;
    float: right;
}

.sub-footer .social-list a{
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin-right:5px;
    border-radius: 2px;
    color: #fff;
}

footer .footer-item {
    margin-bottom: 20px;
}

footer .footer-item .title {
    color: #c5c5c5;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: solid 1px #3a3a3a;
    padding-bottom: 20px;
    font-size: 16px;
    margin: 0 0 30px;
    text-transform: uppercase;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer p {
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 13px;
}

.personal-info li {
    color: #7c7e83;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.personal-info li i {
    font-size: 18px;
    color: #999999;
    margin-right: 20px;
    float: left;
    width: 20px;
}

.personal-info li a {
    text-decoration: none;
    color: #999999;
}

.links li {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.links li a {
    text-decoration: none;
    color: #7c7e83;
}

.links li a:hover {
    color: #cccccc;
}

footer .tags{
    margin-bottom: 13px;
    width: 100%;
    float: left;
}

@media (max-width: 768px) {
    .main-header .navbar-default .nav > li > a {
        padding: 10px 15px !important;
        width: 100%;
    }
}

@media all and (min-width: 768px) {

    .main-header .navbar-default .nav > li:hover > .dropdown-menu {
        display: block;
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s
    }
}
